@charset "utf-8";
/* cyrillic-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/C7bP6N8yXZ-PGLzbFLtQKRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/iLJc6PpCnnbQjYc1Jq4v0xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/5pCv5Yz4eMu9gmvX8nNhfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/gEkd0pn-sMtQ_P4HUpi6WBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/iPF-u8L1qkTPHaKjvXERnxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/mTzVK0-EJOCaJiOPeaz-hxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/erE3KsIWUumgD1j_Ca-V-xJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* base style */
html, body {margin:0;padding:0;height:100%;font-family:"Noto Sans","맑은 고딕","Malgun Gothic","돋움",dotum,Helvetica,sans-serif;font-size:12px;line-height:1.5;color:#474546;background:#f1f1f1;letter-spacing:-0.5px;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,img{margin:0;padding:0;}
input,button,select,textarea{font-family:"Noto Sans","맑은 고딕","Malgun Gothic","돋움",dotum,Helvetica,sans-serif;vertical-align:middle;}
input[type="checkbox"], input[type="radio"] {margin:1px 0 0 0;vertical-align:top;}
h1,h2,h3,h4,h5,h6 {font-size:0;}
ul, ol, li {list-style:none;}
img:not(.bokyakimg), fieldset, iframe {border:0 none;vertical-align:top;}
table{border-collapse:collapse;}
a:link,a:active, a:visited {color:#585858;text-decoration:none;cursor:pointer;}
a:hover {color:#707070;text-decoration:none;cursor:pointer;}
caption, legend {display:none;position:absolute;top:-1000em;left:0;display:block;overflow:hidden;}
em,address{font-style:normal;}
label {cursor:pointer;}
.clear {clear:both;width:0;height:0;padding:0;margin:0;font-size:0;line-height:0;}
.hand {cursor:pointer;}
.non {color:#fff;}
::-webkit-input-placeholder {color:#a4a4a4;}
::-moz-placeholder {color:#555555;}
:-ms-input-placeholder {color:#a4a4a4;}
:-moz-placeholder {color:#555555;}
.placeholder {color:#a4a4a4;}
.placeholder small {color:#a4a4a4;}

.hidden {display:none;font-size:0;line-height:0;text-indent:-999px;}




/* plugin*/

/* swiper */
	.swiper-container {
	  margin-left: auto;
	  margin-right: auto;
	  position: relative;
	  overflow: hidden;
	  /* Fix of Webkit flickering */
	  z-index: 1;
	}
	.swiper-container-no-flexbox .swiper-slide {
	  float: left;
	}
	.swiper-container-vertical > .swiper-wrapper {
	  -webkit-box-orient: vertical;
	  -moz-box-orient: vertical;
	  -ms-flex-direction: column;
	  -webkit-flex-direction: column;
	  flex-direction: column;
	}
	.swiper-wrapper {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-transition-property: -webkit-transform;
	  -moz-transition-property: -moz-transform;
	  -o-transition-property: -o-transform;
	  -ms-transition-property: -ms-transform;
	  transition-property: transform;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	}
	.swiper-container-android .swiper-slide,
	.swiper-wrapper {
	  -webkit-transform: translate3d(0px, 0, 0);
	  -moz-transform: translate3d(0px, 0, 0);
	  -o-transform: translate(0px, 0px);
	  -ms-transform: translate3d(0px, 0, 0);
	  transform: translate3d(0px, 0, 0);
	}
	.swiper-container-multirow > .swiper-wrapper {
	  -webkit-box-lines: multiple;
	  -moz-box-lines: multiple;
	  -ms-flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
	}
	.swiper-container-free-mode > .swiper-wrapper {
	  -webkit-transition-timing-function: ease-out;
	  -moz-transition-timing-function: ease-out;
	  -ms-transition-timing-function: ease-out;
	  -o-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	  margin: 0 auto;
	}
	.swiper-slide {
	  -webkit-flex-shrink: 0;
	  -ms-flex: 0 0 auto;
	  flex-shrink: 0;
	  width: 100%;
	  height: 100%;
	  position: relative;
	}
	/* Auto Height */
	.swiper-container-autoheight,
	.swiper-container-autoheight .swiper-slide {
	  height: auto;
	}
	.swiper-container-autoheight .swiper-wrapper {
	  -webkit-box-align: start;
	  -ms-flex-align: start;
	  -webkit-align-items: flex-start;
	  align-items: flex-start;
	  -webkit-transition-property: -webkit-transform, height;
	  -moz-transition-property: -moz-transform;
	  -o-transition-property: -o-transform;
	  -ms-transition-property: -ms-transform;
	  transition-property: transform, height;
	}
	/* a11y */
	.swiper-container .swiper-notification {
	  position: absolute;
	  left: 0;
	  top: 0;
	  pointer-events: none;
	  opacity: 0;
	  z-index: -1000;
	}
	/* IE10 Windows Phone 8 Fixes */
	.swiper-wp8-horizontal {
	  -ms-touch-action: pan-y;
	  touch-action: pan-y;
	}
	.swiper-wp8-vertical {
	  -ms-touch-action: pan-x;
	  touch-action: pan-x;
	}


.mo {display:inline;}
.pc {display:none;}
@media all and (min-width:950px) {
	.mo {display:none;}
	.pc {display:inline;}
 }
 



/* layout */
.header {position:relative;}
.header .inner {position:relative;}
.header .header-top {height:67px;background:#413278;}
.header .header-top h1 {padding-top:17px;text-align:center;}
.header .header-top h1 .mo {width:167px;}
.header .header-search {display:none;}
.header .navbar-item {height:50px;background:#fff;text-align:center;}
.header .navbar-item ul {height:50px;}
.header .navbar-item ul li {display:inline-block;height:50px;}
.header .navbar-item ul li a {display:block;position:relative;height:100%;top:-13px;margin:0 19px;background:url(../images/header.png) no-repeat 0 0;background-size:300px auto;font-size:0;line-height:0;}
.header .navbar-item ul li.item01 a {width:40px;background-position:0 -70px;}
.header .navbar-item ul li.item02 a {width:51px;background-position:-78px -70px;}
.header .navbar-item ul li.item03 a {width:95px;background-position:-167px -70px;}
.header .navbar-item ul:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}



.header .btn-menu {position:absolute;top:18px;left:20px;width:30px;height:30px;background:url(../images/header.png) no-repeat 0 0;background-size:300px auto;font-size:0;line-height:0;}
.header .btn-search {position:absolute;top:18px;left:58px;width:30px;height:30px;background:url(../images/header.png) no-repeat -30px 0;background-size:300px auto;font-size:0;line-height:0;cursor:pointer;}
.header .btn-mypage {position:absolute;top:18px;right:58px;width:30px;height:30px;background:url(../images/header.png) no-repeat -60px 0;background-size:300px auto;font-size:0;line-height:0;}
.header .btn-cart {position:absolute;top:18px;right:20px;font-size:0;line-height:0;width:35px;}
.header .btn-cart:after {content:"";display:block;position:absolute;top:0;right:0;width:30px;height:30px;background:url(../images/header.png) no-repeat -90px 0;background-size:300px auto;z-index:10;}
.header .btn-cart i {display:block;position:absolute;top:10px;right:0px;height:16px;padding:0 5px;background:#ffbe00;font-size:11px;color:#1e191e;line-height:16px;border-radius:8px;font-style:normal;font-weight:bold;z-index:20;box-sizing:border-box;}

.header .btn-mypage-login {display:none;}

.slide-banner .swiper-slide {position:relative;}
.slide-banner .swiper-slide a {display:block;width:100%;height:100%;}
.slide-banner .swiper-slide img {display:block;width:100%;}
.slide-banner .swiper-button-prev {position:absolute;top:50%;left:7px;width:40px;height:40px;margin-top:-20px;background:url(../images/icon.png) no-repeat -120px 0;background-size:300px auto;font-size:0;line-height:0;z-index:20;cursor:pointer;}
.slide-banner .swiper-button-next {position:absolute;top:50%;right:7px;width:40px;height:40px;margin-top:-20px;background:url(../images/icon.png) no-repeat -160px 0;background-size:300px auto;font-size:0;line-height:0;z-index:20;cursor:pointer;}
.slide-banner .swiper-pagination {position:absolute;bottom:10px;left:0;right:0;text-align:center;z-index:10;}
.slide-banner .swiper-pagination .swiper-pagination-bullet {display:inline-block;position:relative;width:10px;height:10px;margin:0 4px;background:#fff;border-radius:5px;font-size:0;line-height:0}
.slide-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {background:#965adc;color:#fff;}


@media all and (min-width:950px) {
	.header .inner {width:950px;margin:0 auto;}
	.header .header-top {height:76px;}
	.header .header-top h1 {padding:10px 0 0 129px;text-align:left;}
	.header .navbar-item {height:76px;background:#f1f1f1;border-bottom:1px solid #a0aab4;text-align:left;}
	.header .navbar-item ul {position:absolute;top:0;left:111px;}
	.header .navbar-item ul li {display:block;float:left;height:76px;}
	.header .navbar-item ul li a {top:0;margin:0 19px;background:url(../images/header.png) no-repeat 0 0;background-size:auto auto;font-size:0;line-height:0;}
	.header .navbar-item ul li.item01 a {width:54px;background-position:0 -370px;}
	.header .navbar-item ul li.item02 a {width:68px;background-position:-92px -370px;}
	.header .navbar-item ul li.item03 a {width:127px;background-position:-198px -370px;}





	.header .btn-menu {top:76px;left:0;width:76px;height:76px;background:url(../images/header.png) no-repeat -90px -120px;background-size:auto auto;}
	.header .btn-search {top:0;left:0;width:76px;height:76px;background:url(../images/header.png) no-repeat 0 -120px;background-size:auto auto;}
	.header .btn-mypage {top:24px;right:48px;width:28px;height:28px;background:url(../images/header.png) no-repeat -180px -120px;background-size:auto auto;}
	.header .btn-cart {top:24px;right:auto;left:922px;width:70px;height:30px;}
	.header .btn-cart:after {right:0;left:0;width:28px;height:28px;background:url(../images/header.png) no-repeat -208px -120px;background-size:auto auto;}
	.header .btn-cart i {top:8px;right:auto;left:14px;min-width:30px;height:30px;padding:0 10px;background:#ffbe00;font-size:20px;line-height:30px;border-radius:15px;}
	

	.header .btn-mypage-login {display:block;position:absolute;top:6px;right:48px;width:64px;height:64px;display:none;}
	.header .btn-mypage-login .pic {display:block;width:64px;height:64px;border-radius:32px;}
	.header .btn-mypage-login .layer-my {display:none;position:absolute;top:60px;left:-152px;width:363px;height:194px;background:#fff;border:3px solid #413278;border-radius:10px;z-index:30;text-align:center;}
	.header .btn-mypage-login .layer-my:after {content:"";display:block;position:absolute;top:-13px;left:50%;width:19px;height:13px;margin-left:-10px;background:url(../images/icon_pc.png) no-repeat -305px -45px;}
	.header .btn-mypage-login .layer-my .name {height:52px;background:#f1f1f1;padding:0 20px;border-radius:10px 10px 0 0;font-size:15px;color:#1e191e;line-height:52px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;box-sizing:border-box;}
	.header .btn-mypage-login .layer-my .name strong {margin:0 4px;font-size:20px;color:#965adb;}
	.header .btn-mypage-login .layer-my ul {height:70px;border-top:1px solid #a0aab4;border-bottom:1px solid #a0aab4;}
	.header .btn-mypage-login .layer-my ul li {float:left;width:90px;height:70px;border-left:1px solid #a0aab4;box-sizing:border-box;}
	.header .btn-mypage-login .layer-my ul li a {display:block;width:100%;height:100%;padding-top:12px;font-size:15px;color:#1e191e;box-sizing:border-box;}
	.header .btn-mypage-login .layer-my ul li a strong {display:block;font-size:14px;color:#965adb;}
	.header .btn-mypage-login .layer-my ul li a:hover {background:#f1f1f1;}
	.header .btn-mypage-login .layer-my ul li:first-child {border-left:none;}
	.header .btn-mypage-login .layer-my .logout {float:left;width:180px;height:70px;border-radius:0 0 0 10px;box-sizing:border-box;font-size:11px;color:#a0aab4;}
	.header .btn-mypage-login .layer-my .logout:before {content:"";display:block;width:30px;height:30px;margin:12px auto 2px;background:url(../images/icon_pc.png) no-repeat -425px 0;}
	.header .btn-mypage-login .layer-my .bookmark {float:left;width:180px;height:70px;border-radius:0 0 10px 0;border-left:1px solid #a0aab4;box-sizing:border-box;font-size:11px;color:#a0aab4;}
	.header .btn-mypage-login .layer-my .bookmark:before {content:"";display:block;width:30px;height:30px;margin:12px auto 2px;background:url(../images/icon_pc.png) no-repeat -455px 0;}
	.header .btn-mypage-login:hover .pic {opacity:.5;}
	.header .btn-mypage-login:hover .layer-my {display:block;}


	.slide-banner .swiper-slide {height:450px;}
	.slide-banner .swiper-slide img {display:none;} 
	.slide-banner .swiper-button-prev {left:50%;width:60px;height:60px;margin-top:-65px;margin-left:-491px;background:url(../images/icon_pc.png) no-repeat -185px 0;background-size:auto auto;}
	.slide-banner .swiper-button-next {right:50%;width:60px;height:60px;margin-top:-65px;margin-right:-491px;background:url(../images/icon_pc.png) no-repeat -245px 0;background-size:auto auto;}
	.slide-banner .swiper-pagination {bottom:30px;left:50%;width:950px;margin-left:-475px;}
	.slide-banner .swiper-pagination .swiper-pagination-bullet {display:block;float:left;height:60px;margin:0 0 0 5px;border-radius:0;padding:0 10px;line-height:60px;font-size:15px;color:#3c3c3c;text-align:center;cursor:pointer;box-sizing:border-box;}
	.slide-banner .swiper-pagination .swiper-pagination-bullet p {text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
	.slide-banner .swiper-pagination .swiper-pagination-bullet:first-child {margin:0;}
	.slide-banner.slideIndex5 .swiper-pagination .swiper-pagination-bullet {width:186px;}
	.slide-banner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {content:"";display:block;position:absolute;top:-9px;left:50%;width:18px;height:9px;margin-left:-9px;background:url(../images/icon_pc.png) no-repeat -130px -60px;z-index:20;}

	.header .layer-my {display:block;position:absolute;top:0;left:0;}

 }


@media all and (min-width:950px) {
	
}





.footer {position:relative;min-height:186px;background:#2d2354;text-align:center;}
.footer .util {height:44px;background:#413278;line-height:44px;}
.footer .util a {display:inline-block;position:relative;padding:0 14px;font-size:11px;color:#fff;}
.footer .util a:after {content:"";display:block;position:absolute;top:50%;left:0;height:10px;margin-top:-5px;border-left:1px solid #965adc}
.footer .util a:first-child:after {display:none;}
.footer .customer {padding:10px 0 10px 0;font-size:9px;color:#fff;}
.footer .customer a {color:#fff;}
.footer address {padding:0 20px;font-size:8px;line-height:10px;color:#c8d7e6;}
.footer address a {color:#c8d7e6;}
.footer address .agree {display:none;}
.footer address .copyright {padding-top:10px;color:#fff;}


@media all and (min-width:950px) {
	
	.footer {min-height:380px;text-align:left;}
	.footer .util {height:100px;line-height:100px;text-align:right;}
	.footer .util .inner {position:relative;width:950px;margin:0 auto;}
	.footer .util a {padding:0 14px;font-size:20px;}
	.footer .util a:after {height:28px;margin-top:-14px;}
	.footer .util a:first-child:after {display:none;}
	.footer .util a:last-child {padding-right:0;}
	.footer .customer {position:absolute;top:64px;left:50%;width:950px;height:100px;margin-left:-475px;padding:0 0 0 40px;;font-size:15px;line-height:100px;}
	.footer .customer:after {content:"";display:block;position:absolute;top:50%;left:0;width:30px;height:30px;margin-top:-14px;background:url(../images/icon_pc.png) no-repeat -425px -30px;}
	.footer .customer a {color:#fff;}
	.footer address {width:950px;margin:37px auto 0;padding:0;font-size:15px;line-height:20px;}
	.footer address .agree {display:block;padding:20px 0 0 0;}
	.footer address .agree a {margin-right:8px;color:#fff;font-size:13px;}
	.footer address .copyright {padding-top:21px;}

}
/* 공지사항 */

.notice {position:relative;height:37px;border-bottom:1px solid #c8d7e6;text-align:left;line-height:37px;}
.notice h3 {position:absolute;top:0;left:20px;bottom:0;color:#f0ebaa;font-size:10px;font-weight:bold;}
.notice .swiper-container {padding:0 80px 0 67px;}
.notice .swiper-container .swiper-slide {display:none;}
.notice .swiper-container .swiper-slide a {display:block;width:100%;height:100%;font-size:10px;color:#e6e6e6;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.notice .swiper-container .swiper-slide a .date {display:none;}
.notice .swiper-container .swiper-slide.swiper-slide-active {display:block;}
.notice .btn-all {position:absolute;top:0;right:20px;bottom:0;padding-right:12px;color:#c8d7e6;font-size:10px;font-weight:bold;}
.notice .btn-all:after {content:"";display:block;position:absolute;top:50%;right:-2px;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -210px 0;background-size:300px auto;}
@media all and (min-width:950px) {
	.notice {height:60px;background:#fff;border-bottom:1px solid #e6e6e6;line-height:58px;}
	.notice .inner {position:relative;width:950px;height:60px;margin:0 auto;}
	.notice h3 {top:50%;left:0;width:70px;height:20px;margin-top:-10px;background:url(../images/header.png) no-repeat 0 -446px;font-size:0;}
	.notice .swiper-container {padding:0 90px 0 82px;}
	.notice .swiper-container .swiper-slide a {font-size:15px;color:#a0aab4;}
	.notice .swiper-container .swiper-slide a .date {display:block;position:absolute;top:0;right:0;font-size:13px;}
	.notice .btn-all {display:none;}
	.notice .swiper-pagination {position:absolute;top:0;right:0;}
	.notice .swiper-pagination .swiper-pagination-bullet {display:inline-block;width:8px;height:8px;margin-left:5px;background:#e6e6e6;border-radius:4px;cursor:pointer;}
	.notice .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {background:#a0aab4;}
}

/* 퀵메뉴 */
@media all and (min-width:950px) {
	.quick-menu-side {position:absolute;top:714px;left:50%;width:148px;margin-left:525px;border:1px solid #e6e6e6;box-sizing:border-box;overflow:hidden;background:#fff;z-index:90;font-weight:bold;text-align:center;}
	.quick-menu-side.active {position:fixed;top:30px;}
	.quick-menu-side h3 {height:44px;font-size:15px;border-bottom:1px solid #e6e6e6;color:#413278;text-align:center;line-height:44px;}
	.quick-menu-side .lately {position:relative;width:148px;height:400px;overflow:hidden;}
	.quick-menu-side .lately .product {width:100px;height:360px;margin:0 auto;overflow:hidden;}
	.quick-menu-side .lately .product a {display:block;width:100px;height:150px;margin:20px auto 0;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;}

	.quick-menu-side .previous_link {display:block;position:absolute;bottom:0;left:0;width:38px;height:38px;border-right:1px solid #e6e6e6;line-height:38px;font-size:0;}
	.quick-menu-side .previous_link:after {content:"";display:block;position:absolute;top:50%;left:50%;width:15px;height:15px;margin-top:-7.5px;margin-left:-7.5px;background:url(../images/icon_pc.png) no-repeat -305px -30px;}
	.quick-menu-side .next_link {display:block;position:absolute;bottom:0;right:0;width:38px;height:38px;border-left:1px solid #e6e6e6;line-height:38px;font-size:0;}
	.quick-menu-side .next_link:after {content:"";display:block;position:absolute;top:50%;left:50%;width:15px;height:15px;margin-top:-7.5px;margin-left:-7.5px;background:url(../images/icon_pc.png) no-repeat -335px -30px;}

	.quick-menu-side .ptxt {display:block;position:absolute;bottom:0;right:0;left:0;height:38px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;line-height:38px;color:#413278;}
	.quick-menu-side .page_link {display:none;}
	.quick-menu-side .first_link {display:none;}
	.quick-menu-side .last_link {display:none;}
	.quick-menu-side .btn-cart {position:relative;display:block;width:100%;height:44px;padding-left:36px;font-size:15px;color:#413278;text-align:center;line-height:44px;box-sizing:border-box;}
	.quick-menu-side .btn-cart:after {content:"";display:block;position:absolute;top:7px;left:28px;width:30px;height:30px;background:url(../images/icon_pc.png) no-repeat -485px 0;}
}


















/* news */
.main .news {position:relative;margin-bottom:7px;background:#fff;}
.main .news h3 {position:relative;height:37px;padding-left:63px;font-size:13px;color:#413278;line-height:37px;font-weight:bold;}
.main .news h3:after {content:"";display:block;position:absolute;bottom:-7px;left:16px;width:40px;height:40px;background:url(../images/icon.png) no-repeat 0 0;background-size:300px auto;font-size:0;line-height:0;}
.main .news .tabbox {display:none;}
.main .news .list {position:relative;padding:17px 20px;border-top:1px solid #413278;z-index:10;}
.main .news .list li {margin-top:5px;}
.main .news .list li:first-child {margin:0;}
.main .news .list li a {display:block;position:relative;min-height:84px;padding:0 0 0 177px;}
.main .news .list li a .thumb {position:absolute;top:0;left:0;width:160px;height:84px;}
.main .news .list li a .title {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.main .news .list li a .title strong {font-size:10px;color:#1e1a1e;}
.main .news .list li a .txt {font-size:8px;color:#5a509f;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.main .news .list li a .writer {font-size:8px;color:#a0aab4;}

.main .news .btn-prev {display:none;}
.main .news .btn-next {display:none;}
.main .news .btn-all {position:absolute;top:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
.main .news .btn-all:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}





@media all and (min-width:950px) {
	
	
	.main .news {width:950px;margin:44px auto 0;background:#f1f1f1;}
	.main .news h3 {height:56px;padding-left:63px;font-size:20px;line-height:56px;}
	.main .news h3:after {bottom:5px;left:0;width:50px;height:44px;background:url(../images/icon_pc.png) no-repeat 0 0;background-size:auto auto;}
	.main .news .tabbox {display:block;position:absolute;top:56px;left:0;z-index:30;}
	.main .news .tabbox ul {width:200px;margin-top:22px;}
	.main .news .tabbox ul li a {display:block;width:100%;height:100%;padding:0 20px;font-size:15px;line-height:25px;color:#fff;box-sizing:border-box;}
	.main .news .tabbox ul li.visible a {color:#ffbe00}
	.main .news .tabboxcon {position:relative;width:950px;height:360px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.main .news .tabboxcon:after {content:"";display:block;position:absolute;top:-1px;left:-1px;width:200px;height:360px;background:url(../images/news_bg.jpg) no-repeat 0 0;z-index:20;}
	.main .news .tabboxcon#tabboxcon10:after {background-position:0 0;}
	.main .news .tabboxcon#tabboxcon11:after {background-position:-200px 0;}
	.main .news .tabboxcon#tabboxcon12:after {background-position:-400px 0;}
	.main .news .tabboxcon#tabboxcon13:after {background-position:-600px 0;}
	

	.main .news .list {width:750px;height:360px;padding:26px 29px 26px 440px;margin-left:200px;box-sizing:border-box;border-top:none;}
	.main .news .list li {width:280px;height:144px;margin:0 0 15px 0;}
	.main .news .list li a {height:auto;padding:0;}
	.main .news .list li a .thumb {position:relative;top:auto;left:auto;width:280px;height:144px;}
	.main .news .list li a .title {position:absolute;bottom:0;right:0;left:0;top:84px;}
	.main .news .list li a .title strong {position:relative;margin:8px 12px 8px 12px;z-index:20;font-size:15px;color:#fff;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word;}
	.main .news .list li a .title:after {content:"";display:block;position:absolute;top:0;right:0;bottom:0;left:0;background:#000;opacity:.6;z-index:10;}
	.main .news .list li a .txt {font-size:8px;color:#5a509f;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;display:none;}
	.main .news .list li a .writer {font-size:8px;color:#a0aab4;display:none;}
	.main .news .list li:first-child {position:absolute;top:26px;left:30px;width:378px;height:301px;border:1px solid #e6e6e6;}
	.main .news .list li:first-child a .thumb {width:380px;height:196px;margin:-1px;}
	.main .news .list li:first-child a .title {position:relative;bottom:auto;right:auto;left:auto;top:auto;}
	.main .news .list li:first-child a .title strong {margin:0;color:#000;}
	.main .news .list li:first-child a .title:after {display:none;} 
	.main .news .list li:first-child a .txt {display:block;}
	.main .news .list li:first-child a .writer {display:block;}
	.main .news:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

	.main .news .btn-prev {display:block;position:absolute;top:5px;right:162px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .news .btn-prev:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -305px 0;}
	.main .news .btn-prev:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .news .btn-prev:hover:after {background-position:-365px 0;}
	.main .news .btn-next {display:block;position:absolute;top:5px;right:117px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .news .btn-next:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -335px 0;}
	.main .news .btn-next:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .news .btn-next:hover:after {background-position:-395px 0;}
	.main .news .btn-all {top:5px;right:0;width:112px;height:46px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.main .news .btn-all:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.main .news .btn-all:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.main .news .btn-all:hover:after {background-position:-395px -30px;}
}




/* newbook */

.main .newbook {position:relative;margin-bottom:7px;background:#fff;}
.main .newbook h3 {position:relative;height:37px;padding-left:63px;font-size:13px;color:#413278;line-height:37px;font-weight:bold;}
.main .newbook h3:after {content:"";display:block;position:absolute;bottom:-7px;left:16px;width:40px;height:40px;background:url(../images/icon.png) no-repeat -40px 0;background-size:300px auto;font-size:0;line-height:0;}
.main .newbook .tabbox {display:none;}

.main .newbook .list {position:relative;padding:17px 30px;border-top:1px solid #413278;z-index:10;}
.main .newbook .list li {display:none;float:left;width:33.333%;padding:34px 8px 0;box-sizing:border-box;}
.main .newbook .list li:first-child {margin:0;}
.main .newbook .list li:nth-child(1) {padding-top:0;}
.main .newbook .list li:nth-child(2) {padding-top:0;}
.main .newbook .list li:nth-child(3) {padding-top:0;}
.main .newbook .list li:nth-child(-n+6) {display:block;}
.main .newbook .list li a {display:block;position:relative;text-align:center;}
.main .newbook .list li a .thumb {width:90px;height:134px;margin:0 auto 10px;box-shadow:0px 6px 10px -3px rgba(0,0,0,0.4);}
.main .newbook .list li a .title {margin-bottom:10px;font-size:10px;color:#1e1a1e;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.main .newbook .list li a .writer {height:28px;margin-bottom:10px;font-size:8px;line-height:14px;color:#5a509f;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.main .newbook .list li a .category {font-size:8px;color:#a0aab4;}
.main .newbook .list li a .score {display:inline-block;width:44px;height:8px;background:url(../images/icon.png) no-repeat 0 -40px;background-size:300px auto;font-size:0;line-height:0;}
.main .newbook .list li a .score strong {display:block;height:8px;background:url(../images/icon.png) no-repeat 0 -48px;background-size:300px auto;font-size:0;line-height:0;}
.main .newbook .list:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

.main .newbook .btn-prev {display:none;}
.main .newbook .btn-next {display:none;}
.main .newbook .btn-all {position:absolute;top:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
.main .newbook .btn-all:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}





@media all and (min-width:950px) {
	
	
	.main .newbook {width:950px;margin:44px auto 0;background:#f1f1f1;}
	.main .newbook h3 {height:56px;padding-left:63px;font-size:20px;line-height:56px;}
	.main .newbook h3:after {bottom:5px;left:0;width:50px;height:44px;background:url(../images/icon_pc.png) no-repeat -60px 0;background-size:auto auto;}
	
	.main .newbook .tabbox {display:block;position:relative;height:44px;padding-left:204px;background:#fff;border:1px solid #e6e6e6;border-left:none;z-index:10;line-height:44px;}
	.main .newbook .tabbox .add {display:block;position:absolute;top:-1px;left:-1px;width:200px;height:46px;padding-left:20px;background:#413278;font-size:15px;color:#fff;z-index:20;box-sizing:border-box;}
	.main .newbook .tabbox ul {}
	.main .newbook .tabbox ul li {display:block;float:left;height:100%;margin-left:25px;text-align:center;}
	.main .newbook .tabbox ul li a {display:block;width:100%;height:100%;padding:0 1px;font-size:15px;color:#000;}
	.main .newbook .tabbox ul li.visible a {color:#965adc;border-bottom:1px solid #965adc;}
	.main .newbook .tabboxcon {position:relative;width:950px;clear:both;}

	.main .newbook .list {position:relative;padding:50px 30px;border:none;}
	.main .newbook .list li {float:left;width:25%;padding:34px 15px 0;box-sizing:border-box;}
	.main .newbook .list li:first-child {margin:0;}
	
	.main .newbook .list li:nth-child(4) {padding-top:0;}
	.main .newbook .list li:nth-child(-n+8) {display:block;}
	.main .newbook .list li a {display:block;position:relative;text-align:center;}
	.main .newbook .list li a .thumb {width:200px;height:300px;margin:0 auto 10px;box-shadow:0px 6px 20px -6px rgba(0,0,0,0.4);}
	.main .newbook .list li a .title {margin-bottom:10px;font-size:16px;}
	.main .newbook .list li a .writer {height:50px;margin-bottom:10px;font-size:13px;line-height:17px;}
	.main .newbook .list li a .category {font-size:13px;color:#a0aab4;}
	.main .newbook .list li a .score {width:130px;height:22px;background:url(../images/icon_pc.png) no-repeat 0 -60px;background-size:auto auto;}
	.main .newbook .list li a .score strong {height:22px;background:url(../images/icon_pc.png) no-repeat 0 -82px;background-size:auto auto;}


	.main .newbook:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

	.main .newbook .btn-prev {display:block;position:absolute;top:5px;right:162px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .newbook .btn-prev:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -305px 0;}
	.main .newbook .btn-prev:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .newbook .btn-prev:hover:after {background-position:-365px 0;}
	.main .newbook .btn-next {display:block;position:absolute;top:5px;right:117px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .newbook .btn-next:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -335px 0;}
	.main .newbook .btn-next:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .newbook .btn-next:hover:after {background-position:-395px 0;}
	.main .newbook .btn-all {top:5px;right:0;width:112px;height:46px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.main .newbook .btn-all:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.main .newbook .btn-all:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.main .newbook .btn-all:hover:after {background-position:-395px -30px;}
}







.main .popular {position:relative;background:#fff;}
.main .popular h3 {position:relative;height:37px;padding-left:63px;font-size:13px;color:#413278;line-height:37px;font-weight:bold;}
.main .popular h3:after {content:"";display:block;position:absolute;bottom:-4px;left:16px;width:40px;height:40px;background:url(../images/icon.png) no-repeat -80px 0;background-size:300px auto;font-size:0;line-height:0;}
.main .popular .tabbox {position:absolute;bottom:0;left:20px;z-index:20;}
.main .popular .tabbox ul li {position:relative;float:left;height:45px;line-height:45px;}
.main .popular .tabbox ul li a {padding:0 7px;font-size:10px;color:#a0aab4;font-weight:bold;}
.main .popular .tabbox ul li:after {content:"";display:block;position:absolute;top:50%;left:0;height:12px;margin-top:-5px;border-left:1px solid #a0aab4}
.main .popular .tabbox ul li:first-child a {padding-left:0;}
.main .popular .tabbox ul li:first-child:after {display:none;}
.main .popular .tabbox ul li.visible a {color:#965adc;}
.main .popular .tabbox ul:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

.main .popular .list {position:relative;padding:7px 20px 45px;border-top:1px solid #413278;z-index:10;}
.main .popular .list li {border-bottom:1px solid #a0aab4;}
.main .popular .list li:first-child {margin:0;}
.main .popular .list li a {display:block;position:relative;width:100%;height:30px;padding:0 40px 0 0;line-height:30px;box-sizing:border-box;}
.main .popular .list li a .title {font-size:11px;color:#5a509f;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.main .popular .list li a .date {display:none;}
.main .popular .list li a .category {position:absolute;top:0;right:0;font-size:10px;color:#a0aab4;}

.main .popular .list:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

.main .popular .btn-prev {display:none;}
.main .popular .btn-next {display:none;}
.main .popular .btn-all {position:absolute;top:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
.main .popular .btn-all:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}






@media all and (min-width:950px) {
	
	
	.main .popular {width:950px;margin:44px auto 100px;background:#f1f1f1;}
	.main .popular h3 {height:56px;padding-left:63px;font-size:20px;line-height:56px;}
	.main .popular h3:after {bottom:4px;left:0;width:50px;height:44px;background:url(../images/icon_pc.png) no-repeat -120px 0;background-size:auto auto;}
	
	.main .popular .tabbox {position:absolute;bottom:auto;top:57px;left:1px;width:200px;background:#e6e6e6;z-index:20;}
	.main .popular .tabbox ul li {position:relative;float:none;height:55px;line-height:54px;}
	.main .popular .tabbox ul li a {display:block;width:100%;height:100%;padding:0 20px;font-size:15px;color:#5a50a0;font-weight:bold;box-sizing:border-box;}
	.main .popular .tabbox ul li:after {content:"";display:block;position:absolute;top:0;left:19px;right:19px;height:0;margin:0;border:none;border-top:1px solid #fff;}
	.main .popular .tabbox ul li:first-child a {padding:0 20px;}
	.main .popular .tabbox ul li:first-child:after {border-top:none;}
	.main .popular .tabbox ul li.visible {background:#fff;}
	.main .popular .tabbox ul li.visible a {color:#413278;}
	.main .popular .tabbox ul:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}


	.main .popular .tabboxcon {min-height:220px;background:#fff;border:1px solid #e6e6e6;}
	.main .popular .list {position:relative;padding:20px 30px 20px 229px;border:none;box-sizing:border-box;z-index:10;}
	.main .popular .list li {border-bottom:none;border-top:1px solid #e6e6e6;}
	.main .popular .list li:first-child {margin:0;border-top:none;}
	.main .popular .list li a {display:block;position:relative;width:100%;height:35px;padding:0 90px 0 105px;line-height:35px;box-sizing:border-box;}
	.main .popular .list li a .title {font-size:15px;color:#5a509f;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
	.main .popular .list li a .date {display:block;position:absolute;top:0;left:10px;font-size:15px;color:#a0aab4;}
	.main .popular .list li a .category {position:absolute;top:0;right:0;font-size:15px;color:#a0aab4;}

	


	.main .popular:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

	.main .popular .btn-prev {display:block;position:absolute;top:5px;right:162px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .popular .btn-prev:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -305px 0;}
	.main .popular .btn-prev:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .popular .btn-prev:hover:after {background-position:-365px 0;}
	.main .popular .btn-next {display:block;position:absolute;top:5px;right:117px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.main .popular .btn-next:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -335px 0;}
	.main .popular .btn-next:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.main .popular .btn-next:hover:after {background-position:-395px 0;}
	.main .popular .btn-all {display:block;top:5px;right:0;width:112px;height:46px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.main .popular .btn-all:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.main .popular .btn-all:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.main .popular .btn-all:hover:after {background-position:-395px -30px;}
}





































/* books */

	.book .books .list li .score-area .score {display:inline-block;width:44px;height:8px;background:url(../images/icon.png) no-repeat 0 -40px;background-size:300px auto;font-size:0;line-height:0;}
	.book .books .list li .score-area .score strong {display:block;height:8px;background:url(../images/icon.png) no-repeat 0 -48px;background-size:300px auto;font-size:0;line-height:0;}

	.book .books .list li .btn-view {position:absolute;bottom:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
	.book .books .list li .btn-view:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}


@media all and (min-width:950px) {
	
	
	.book .books {position:relative;width:950px;margin:50px auto 0;}
	.book .books h3 {width:100px;height:29px;background:url(../images/icon_pc.png) no-repeat 0 -114px;}
	
	.book .books .tabbox {display:block;position:absolute;top:0;right:0;}
	.book .books .tabbox ul li {float:left;margin-left:17px;}
	.book .books .tabbox ul li a {font-size:15px;color:#a0aab4;}
	.book .books .tabbox ul li.visible a {color:#5a50a0;}


	.book .books .tabboxcon {position:relative;width:950px;}
	
	

	.book .books .list {position:relative;margin:30px 0 0 0;border-bottom:1px solid #dcdcdc;}
	.book .books .list:after {content:"";display:block;position:absolute;left:0;bottom:-2px;right:0;border-bottom:1px solid #fff;}
	.book .books .list li {position:relative;min-height:300px;padding:50px 20px 20px 246px;border-top:1px solid #dcdcdc;}
	.book .books .list li:after {content:"";display:block;position:absolute;left:0;top:0;right:0;border-bottom:1px solid #fff;}
	.book .books .list li .thumb {position:absolute;top:50px;left:0;width:198px;height:300px;}
	.book .books .list li .txt {font-size:15px;color:#5a509f;}
	.book .books .list li .title {font-size:20px;color:#1e1a1e;}
	.book .books .list li .writer {font-size:13px;color:#5a509f;}
	.book .books .list li .category {font-size:13px;color:#a0aab4;}
	.book .books .list li .description {font-size:15px;color:#000000;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 6;-webkit-box-orient: vertical;word-wrap:break-word;}
	.book .books .list li .score-area {position:absolute;bottom:20px;left:246px;}
	.book .books .list li .score-area strong {display:block;font-size:15px;color:#5a509f;line-height:15px;}
	.book .books .list li .score-area .score {width:130px;height:22px;background:url(../images/icon_pc.png) no-repeat 0 -60px;background-size:auto auto;}
	.book .books .list li .score-area .score strong {height:22px;background:url(../images/icon_pc.png) no-repeat 0 -82px;background-size:auto auto;}



	.book .books .list li .btn-view {bottom:20px;right:0;width:112px;height:46px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.book .books .list li .btn-view:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.book .books .list li .btn-view:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.book .books .list li .btn-view:hover:after {background-position:-395px -30px;}



}




/* bestseller */

.book .bestseller {position:relative;}
.book .bestseller h3 {}


.book .bestseller .list {position:relative;padding:17px 30px;border-top:1px solid #413278;z-index:10;}
.book .bestseller .list li {display:none;float:left;width:33.333%;padding:34px 8px 0;box-sizing:border-box;}
.book .bestseller .list li:first-child {margin:0;}
.book .bestseller .list li:nth-child(1) {padding-top:0;}
.book .bestseller .list li:nth-child(2) {padding-top:0;}
.book .bestseller .list li:nth-child(3) {padding-top:0;}
.book .bestseller .list li:nth-child(-n+6) {display:block;}
.book .bestseller .list li a {display:block;position:relative;}
.book .bestseller .list li a .thumb {width:90px;height:134px;margin:0 auto 10px;box-shadow:0px 6px 10px -3px rgba(0,0,0,0.4);}
.book .bestseller .list li a .title {margin-bottom:10px;font-size:10px;color:#1e1a1e;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.book .bestseller .list li a .writer {height:28px;margin-bottom:10px;font-size:8px;line-height:14px;color:#5a509f;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.book .bestseller .list li a .category {font-size:8px;color:#a0aab4;}
.book .bestseller .list li a .score {display:inline-block;width:44px;height:8px;background:url(../images/icon.png) no-repeat 0 -40px;background-size:300px auto;font-size:0;line-height:0;}
.book .bestseller .list li a .score strong {display:block;height:8px;background:url(../images/icon.png) no-repeat 0 -48px;background-size:300px auto;font-size:0;line-height:0;}
.book .bestseller .list:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}




.book .bestseller .btn-all {position:absolute;top:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
.book .bestseller .btn-all:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}





@media all and (min-width:950px) {
	
	
	.book .bestseller {width:950px;margin:50px auto 0;}
	.book .bestseller .list-title {height:46px;background:#fff;border:1px solid #e6e6e6;line-height:46px;box-sizing:border-box;font-size:14px;color:#a0aab4;}
	.book .bestseller .list-title h3 {display:inline;margin:0 20px;font-size:17px;color:#413278;}
	
	
	
	.book .bestseller .tabboxcon {position:relative;width:950px;clear:both;}

	.book .bestseller .list {position:relative;padding:30px 0 0 320px;border:none;}
	.book .bestseller .list li {float:left;width:160px;padding:34px 15px 0;box-sizing:border-box;}
	.book .bestseller .list li:first-child {margin:0;}
	
	.book .bestseller .list li:nth-child(4) {padding-top:0;}
	.book .bestseller .list li:nth-child(-n+8) {display:block;}
	.book .bestseller .list li a {display:block;position:relative;}
	.book .bestseller .list li a .thumb {width:140px;height:210px;margin:0 auto 10px;border:1px solid #e6e6e6;box-shadow:0px 6px 20px -6px rgba(0,0,0,0.4);box-sizing:border-box;}
	.book .bestseller .list li a .title {margin-bottom:10px;font-size:16px;}
	.book .bestseller .list li a .writer {height:50px;margin-bottom:10px;font-size:13px;line-height:17px;}
	.book .bestseller .list li a .category {font-size:13px;color:#a0aab4;}
	.book .bestseller .list li a .score {width:130px;height:22px;background:url(../images/icon_pc.png) no-repeat 0 -60px;background-size:auto auto;}
	.book .bestseller .list li a .score strong {height:22px;background:url(../images/icon_pc.png) no-repeat 0 -82px;background-size:auto auto;}


	.book .bestseller:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}

	.book .bestseller .btn-prev {display:block;position:absolute;top:5px;right:162px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.book .bestseller .btn-prev:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -305px 0;}
	.book .bestseller .btn-prev:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.book .bestseller .btn-prev:hover:after {background-position:-365px 0;}
	.book .bestseller .btn-next {display:block;position:absolute;top:5px;right:117px;width:46px;height:46px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;font-size:0;z-index:10;}
	.book .bestseller .btn-next:after {content:"";display:block;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-top:-15px;margin-left:-15px;background:url(../images/icon_pc.png) no-repeat -335px 0;}
	.book .bestseller .btn-next:hover {background:#965adc;border-color:#965adc;z-index:20;}
	.book .bestseller .btn-next:hover:after {background-position:-395px 0;}
	.book .bestseller .btn-all {top:0;right:0;width:112px;height:46px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.book .bestseller .btn-all:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.book .bestseller .btn-all:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.book .bestseller .btn-all:hover:after {background-position:-395px -30px;}
}


















.booktrailers .clip-section .thumb {width:90px;height:134px;}
.booktrailers .clip-section .title {margin-bottom:10px;font-size:10px;color:#fff;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.booktrailers .clip-section .writer {height:28px;margin-bottom:10px;font-size:8px;line-height:14px;color:#5a509f;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
.booktrailers .clip-section .category {font-size:8px;color:#a0aab4;}
.booktrailers .clip-section .score {display:inline-block;width:44px;height:8px;background:url(../images/icon.png) no-repeat 0 -40px;background-size:300px auto;font-size:0;line-height:0;}
.booktrailers .clip-section .score strong {display:block;height:8px;background:url(../images/icon.png) no-repeat 0 -48px;background-size:300px auto;font-size:0;line-height:0;}


.booktrailers .clip-section .btn-all {position:absolute;top:0;right:20px;padding:0 12px;font-size:10px;line-height:37px;font-weight:bold;color:#5a509f;}
.booktrailers .clip-section .btn-all:after {content:"";display:block;position:absolute;top:50%;right:0;width:10px;height:10px;margin-top:-5px;background:url(../images/icon.png) no-repeat -200px 0;background-size:300px auto;font-size:0;line-height:0;}



@media all and (min-width:950px) {
	.booktrailers {position:relative;padding:69px 0 0 0;}
	.booktrailers h3 {position:absolute;top:20px;left:50%;margin-left:-475px;width:214px;height:29px;background:url(../images/icon_pc.png) no-repeat -100px -114px;}
	.booktrailers .clip-section {height:570px;background:url(../images/booktrailers_bg.jpg) no-repeat 50% 50%}
	
	.booktrailers .clip-section .inner {width:950px;margin:0 auto;}
	.booktrailers .clip-section .player {float:left;width:600px;height:340px;margin:50px 0 0 0;background:#f60}
	.booktrailers .clip-section .info {float:right;width:320px;height:340px;margin:50px 0 0 0;}
	.booktrailers .clip-section .info .thumb {width:110px;height:166px;box-sizing:border-box;border:1px solid #fff;}


	.booktrailers .clip-section .thumb {width:110px;height:166px;border:1px solid #fff;box-sizing:border-box;}
	.booktrailers .clip-section .title {margin-bottom:10px;font-size:16px;}
	.booktrailers .clip-section .writer {height:50px;margin-bottom:10px;font-size:13px;line-height:17px;}
	.booktrailers .clip-section .category {font-size:13px;color:#a0aab4;}
	.booktrailers .clip-section .score {width:130px;height:22px;background:url(../images/icon_pc.png) no-repeat 0 -60px;background-size:auto auto;}
	.booktrailers .clip-section .score strong {height:22px;background:url(../images/icon_pc.png) no-repeat 0 -82px;background-size:auto auto;}




	.booktrailers .clip-section .list {padding-top:30px;clear:both;}
	.booktrailers .clip-section .list li {float:left;margin-left:15px;}
	.booktrailers .clip-section .list li:first-child {margin:0;}
	.booktrailers .clip-section .list li a {display:block;width:100%;height:100%;}
	.booktrailers .clip-section .list li img {-webkit-filter: grayscale(100%);filter: gray;}
	.booktrailers .clip-section .list li.active img {-webkit-filter: grayscale(0%);filter: none;}
	.booktrailers .clip-section .list:after {content:"";display:block;height:0;font-size:0;line-height:0;clear:both;}






	.booktrailers .clip-section .btn-all {top:3px;right:auto;left:50%;width:112px;height:46px;margin-left:363px;padding:0 18px;font-size:15px;line-height:44px;background:#fff;border:1px solid #e6e6e6;box-sizing:border-box;}
	.booktrailers .clip-section .btn-all:after {right:17px;width:8px;height:16px;margin-top:-7px;background:url(../images/icon_pc.png) no-repeat -335px -30px;background-size:auto auto;}
	.booktrailers .clip-section .btn-all:hover {background:#965adc;border-color:#965adc;color:#fff;}
	.booktrailers .clip-section .btn-all:hover:after {background-position:-395px -30px;}
}
