
	/* 레이아웃 */
	.gis {background:#f2f3f5;}
	.gis .gis-header {position:fixed;top:0;right:0;left:0;height:120px;background:#3853d8;z-index:50;overflow:hidden;}
	.gis .gis-header:after {content:"경기도 통합물관리 서비스";display:block;position:absolute;top:0;left:60px;right:60px;height:60px;line-height:60px;text-align:center;color:#fff;font-size:20px;}

	.gis .gis-header .btn-menu {display:none;}
	.gis .gis-header .search {display:block;position:relative;margin-top:60px;}
	.gis .gis-header .search .search-input {position:relative;position:absolute;top:0;left:60px;right:60px;}
	.gis .gis-header .search .search-input input {display:block;width:100%;height:60px;padding:0 0 0 15px;box-sizing:border-box;border:1px solid #efefef;z-index:10;color:#404040;font-size:15px;font-weight:bold;}
	.gis .gis-header .search .search-input:before {content:"";display:block;position:absolute;top:0;left:-60px;width:60px;height:60px;background:#efefef url(../images/ico-m.png) repeat 0 -60px;z-index:20;background-size:250px auto;}
	.gis .gis-header .search button {display:block;position:absolute;top:0;right:0;width:60px;height:60px;line-height:60px;border:0;background:#263992;font-size:0;}
	.gis .gis-header .search button:after {content:"검색";display:block;position:absolute;top:0;right:0;bottom:0;left:0;text-align:center;font-size:15px;color:#fff;}
	.gis .gis-header .util {display:none;}
	.gis .gis-header .menu {display:none;}
	.gis .gis-header.active {height:120px;}
	.gis .stage {position:absolute;top:120px;left:0px;bottom:0;right:0;background:#222;}
	.close .gis .stage {left:75px;}


	/* SNB */
	.gis aside {position:absolute;top:120px;bottom:0;left:0;width:345px;background:url(../images/aside-bg.png) repeat 0 0;z-index:60;border-right:1px solid #efefef;}
	.close .gis aside {width:75px;}

	.gis aside .btn-aside-close {display:block;position:fixed;top:0;left:0;width:60px;height:60px;background:url(../images/ico-m.png) repeat 0 0;background-size:250px auto;font-size:0;}


	.gis aside .tabs a {display:block;width:75px;height:75px;background:url(../images/aside-menu.png) no-repeat 0 0;font-size:0;}
	.gis aside .tabs a.menu01 {background-position:0 0;}
	.gis aside .tabs a.menu01.active {background-position:-75px 0;}
	.gis aside .tabs a.menu02 {background-position:0 -75px;}
	.gis aside .tabs a.menu02.active {background-position:-75px -75px;}
	.gis aside .tabs a.menu03 {background-position:0 -150px;display:none;}
	.gis aside .tabs a.menu03.active {background-position:-75px -150px;}
	.gis aside .tabs a.menu04 {background-position:0 -225px;display:none;}
	.gis aside .tabs a.menu04.active {background-position:-75px -225px;}
	.gis aside .tabs a.menu05 {background-position:0 -300px;display:none;}
	.gis aside .tabs a.menu05.active {background-position:-75px -300px;}
